.home_container{
    background-color: white;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
    

    .home_info{
        display: flex;
        .info_card{
            width: 250px;
            height: 135px;
            border: 1px solid $color-gray-100;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 50px;

            span{
                font-size: 30px;
                margin-top: 20px;
            }
        }
    }

    .home_camera{
        padding-inline: 15px;
        margin-top: 20px;
    }
}